.content-table {
	border-collapse: collapse;
	/* font-size: 0.9em; */
	min-width: 100%;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
	background-color: var(--grey-400);
	color: #ffffff;
	text-align: left;
}

.content-table th {
	font-weight: normal;
}

.content-table td {
	font-size: 0.9em;
	align-items: center;
	justify-content: center;
}

.content-table th,
.content-table td {
	padding: 8px 16px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
	background-color: #e6e6e6;
}

.empty-table {
	text-align: center;
}

.clickable-row:hover {
	font-weight: bold;
	cursor: pointer;
}

.content-table tfoot tr {
	background-color: var(--grey-350);
	color: #ffffff;
}

.content-table tfoot tr td {
	align-items: right;
	text-align: right;
}

.content-table tfoot td p {
	display: inline-block;
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.foot-table {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.foot-select select {
	font-size: 0.8rem;
}

.foot-select option {
	color: black;
}

.search-icon {
	margin: 0 10px;
	color: var(--grey-400);
}

.form-control-table {
	margin-bottom: 0.5rem;
}

.form-control-table:not(:last-child) {
	margin-right: 1rem;
}

.search-bar {
	float: left !important;
	margin-right: 1rem !important;
}

/* @media (max-width: 767px) { */
@media (max-width: 1130px) {
	.search-bar {
		width: 100% !important;
		margin-bottom: 12px !important;
	}

	.form-control-table {
		float: left !important;
		width: 49% !important;
		min-width: 49% !important;
		margin-left: 0 !important;
		margin-bottom: 12px !important;
		margin-right: 0 !important;
	}

	.form-control-table .MuiInputBase-formControl {
		min-width: 49% !important;
	}

	.form-control-table:nth-child(even) {
		margin-right: 2% !important;
	}

	.mode-button {
		width: 49% !important;
		margin-right: 0 !important;
	}

	.mode-button.left-button {
		margin-right: 2% !important;
	}

	.profile-buttons {
		margin: 1rem !important;
	}
}

.mode-button {
	margin-bottom: 0.5rem !important;
	text-transform: none !important;
	color: var(--grey-400) !important;
	border: 1px solid var(--grey-400) !important;
	width: 150px;
}

.selected {
	background-color: var(--grey-400) !important;
	color: white !important;
}

.profile-buttons {
	margin: 1rem 2rem;
}