@font-face {
	font-family: 'WorldAthletics';
	src: local('WorldAthletics'), url(./Fonts/WorldAthletics.woff) format('woff');
}

@font-face {
	font-family: 'WorldAthleticsHeadline';
	src: local('WorldAthleticsHeadline'), url(./Fonts/WorldAthleticsHeadline.woff) format('woff');
}

* {
	font-family: 'WorldAthletics', sans-serif !important;
}

body {
	margin: 0;
	padding: 0;
}

:root {
	--mem-color-bg-fill: #ffffff;
	--mem-color-bg: #f7f7f7;
	--mem-color-bg-surface-recessed: #edeff3;
	--grey-350: #B2B7BF;
	--grey-400: #777f8a;
	--mem-color-text: #191b1f;

	--blue-100: #e8effd;
	--blue-200: #89a9ef;
	--blue-300: #3f74e7;
	--blue-400: #2966e9;

	/* --grey-400: #282828; */
	/* --mem-color-text: #b3b3b3; */

	/* --blue-400: #bb86fc; */

	background-color: var(--mem-color-bg);
}

.home-contents {
	height: 100vh;
}

/*******************************************************
 * Carousel
 *******************************************************/
.carousel,
.carousel img {
	max-height: 90vh;
}

@media (max-width: 768px) {

	.carousel,
	.carousel img {
		max-height: 50vh;
	}
}

@media (max-width: 480px) {

	.carousel,
	.carousel img {
		max-height: 30vh;
	}
}

.carousel img {
	object-fit: cover;
}

/*******************************************************
 * Scrollbar
 *******************************************************/
::-webkit-scrollbar {
	display: none;
}

/*******************************************************
 * 404 Page
 *******************************************************/
.template-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: var(--mem-color-bg);
	color: var(----mem-color-text);
}

.template-page-button {
	background-color: var(--grey-400) !important;
	color: var(----mem-color-text) !important;
	border-color: var(--mem-color-text) !important;
}

/*******************************************************
 * Footer
 *******************************************************/
.footer {
	margin-top: auto;

	background: var(--grey-400);
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer .social-svg-icon {
	fill: var(--mem-color-bg-fill) !important;
}

.footer p {
	margin: 0;
	color: var(--mem-color-bg-fill);
}

.footer-developer {
	font-size: 12px;
}

.social-icon:hover {
	color: red !important;
}

/*******************************************************
 * Pages
 *******************************************************/
.app-body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.page {
	margin-top: 55px;
	padding: 1rem;
	color: var(----mem-color-text);
}

.page th,
.page td {
	padding: 5px;
	text-align: center;
}

.table {
	border: 1px solid var(--mem-color-text);
	border-radius: 8px;
}

.venus {
	color: #f5347f;
}

.mars {
	color: #023e8a;
}

.loader {
	color: var(--grey-400) !important;
}