@font-face {
	font-family: 'WorldAthletics';
	src: local('WorldAthletics'), url(./Fonts/WorldAthletics.woff) format('woff');
}

* {
	font-family: WorldAthletics, sans-serif;
}

:root {
	--background-color: #121212;
	--menu-bar-color: #181818;
	--top-gradient-color: #404040;
	--bottom-gradient-color: #282828;
	--primary-text-color: #fff;
	--secondary-text-color: #b3b3b3;

	background-color: var(--background-color);
	height: 300%;
}

/*******************************************************
 * Carousel
 *******************************************************/
.carousel,
.carousel img {
	max-height: 90vh;
}

@media (max-width: 768px) {

	.carousel,
	.carousel img {
		max-height: 50vh;
	}
}

@media (max-width: 480px) {

	.carousel,
	.carousel img {
		max-height: 40vh;
	}
}

.carousel img {
	object-fit: cover;
}

/*******************************************************
 * Navbar
 *******************************************************/
.navbar {
	background: rgba(24, 24, 24, 0.2);
	position: relative;
	height: 55px;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	margin-left: -50px !important;
	margin-right: 0px !important;
	display: block;
	font-weight: bolder;
}

/*******************************************************
 * Scrollbar
 *******************************************************/
::-webkit-scrollbar {
	display: none;
}